.beesblog-warehouse {
  width: 100%;
}

.beesblog-warehouse .beesblog-category-image {
  margin-bottom: 20px;
}

.beesblog-warehouse .beesblog-category-description {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid #ddd;
}

.beesblog-warehouse .beesblog-category-description p:last-child {
  margin-bottom: 0;
}

.beesblog-post-grid > [class*="col-"] {
  margin-bottom: 20px;
}

.beesblog-post-card,
.beesblog-post-card .post-item {
  width: 100%;
}

.beesblog-post-card .post-item {
  position: relative;
  text-align: center;
  transition: all .3s ease;
}

.beesblog-post-card .post-thumbnail {
  position: relative;
  overflow: hidden;
  transition: opacity .3s ease;
}

.beesblog-post-card .post-item:hover .post-thumbnail {
  opacity: .85;
}

.beesblog-post-card .post-title h2 {
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.beesblog-post-card .post-content {
  padding: 10px;
  background: #f8f8f8;
  font-size: 12px;
  transition: background .3s ease;
}

.beesblog-post-card .post-item:hover .post-content {
  background: transparent;
}

.beesblog-post-card .post-content p:last-child {
  margin-bottom: 0;
}

.beesblog-post-card .post-read-more {
  margin-top: 10px;
}

.beesblog-post-card .post-additional-info {
  padding: 5px;
  border-top: 1px solid #ddd;
  background: transparent;
  font-size: 10px;
  text-align: center;
}

.beesblog-post-card .post-additional-info span {
  display: inline-block;
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px dotted #ddd;
}

.beesblog-post-card .post-additional-info span:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}

.beesblog-single .post-meta-info {
  margin-top: -10px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #cecece;
  color: #a1a1a1;
  font-size: 12px;
}

.beesblog-single .post-meta-info a {
  color: #a1a1a1;
}

.beesblog-single .post-meta-info span {
  display: inline-block;
  margin-right: 10px;
}

.beesblog-single .post-featured-image {
  margin-bottom: 20px;
}

.beesblog-single .post-content {
  margin-bottom: 30px;
}

.beesblog-single .post-content img {
  display: block;
  max-width: 100%;
  height: auto;
}

.beesblog-single .post-block,
.beesblog-single #beesblog-after-post {
  margin-top: 20px;
}

.beesblog-social-sharing button {
  margin: 0 5px 5px 0;
}

.beesblog-results {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: right;
}

.beesblog-picture,
.beesblog-responsive-image {
  display: block;
  max-width: 100%;
}

.beesblog-responsive-image {
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .beesblog-post-grid > .col-sm-6:nth-child(2n+1) {
    clear: left;
  }
}

@media (max-width: 767px) {
  .beesblog-results {
    text-align: left;
  }
}
